.card {
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1.2rem;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-content {
  padding: 1.4em;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
}

.card-description {
  font-size: 1em;
  line-height: 1.4em;
  color: var(--dark-gray);
  /* Show only 3 lines of text with ellipsis */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  /* Adjust the line height based on your requirement */
  line-height: 1.4em;
}