/* CategoriesList.css */
.categories {
    background-color: #f5f5f5;
    padding: 10px;
}

.categories h3 {
    margin-top: 0;
}

.categories ul {
    list-style: none;
    padding: 0;
}

.categories li {
    margin-bottom: 10px;
}