.grid-wrapper {
    width: 100%;
}

.grid-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1em;
    grid-gap: 1em;
    /* Adjust the value as needed */
}

@media screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}