.custom-component {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.4em;
    justify-content: center;
    padding: 10em 1em;
}

.custom-component h1 {
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 800;
    color: var(--secondary-color);
}

.custom-component h2 {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 800;
    color: var(--secondary-color);
}

.custom-component p {
    font-size: medium;
    line-height: 1.8em;
    color: var(--dark-gray);
}

.custom-component ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.custom-component ul li {
    border: 2px solid black;
    border-radius: 8px 8px 12px 12px;
    border-bottom-width: 12px;
    width: 200px;
    font-size: medium;
    line-height: 2em;
    color: var(--dark-gray);
    padding: 0.6em;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

/* Media query for screens up to 1000px */
@media screen and (max-width: 1000px) {
    .custom-component ul li {
        width: 100%;
        height: auto;
    }
}

/* Media query for screens up to 800px */
@media screen and (max-width: 800px) {
    .custom-component {
        padding: 5em 0.5em;
    }

    .custom-component h1 {
        font-size: 3rem;
    }

    .custom-component h2 {
        font-size: 2rem;
    }

    .custom-component p {
        font-size: medium;
        line-height: 1.8em;
    }

    .custom-component ul {
        font-size: medium;
        line-height: 1.8em;
    }
}