.custom-component {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.4em;
    min-height: calc(100vh - 70px);
    justify-content: center;
    padding: 1em;
}

.custom-component h1 {
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 800;
    color: var(--secondary-color);
}

.custom-component p {
    font-size: medium;
    line-height: 1.8em;
    color: var(--dark-gray);
}

.custom-component ul {
    list-style-type: unset;
    font-size: medium;
    line-height: 2em;
    color: var(--dark-gray);
}

/* Media query for screens up to 800px */
@media screen and (max-width: 800px) {
    .custom-component {
        padding: 0.5em;
        min-height: 60vh;
    }

    .custom-component h1 {
        font-size: 2.6rem;
    }

    .custom-component p {
        font-size: medium;
        line-height: 1.8em;
    }

    .custom-component ul {
        font-size: medium;
        line-height: 1.8em;
    }
}