footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.footer-top {
    max-width: 1600px;
    width: 100%;
    padding: 4em 1em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: #F7F6F3;
    gap: 2em;
}

.footer-top h2 {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
}

.footer-bottom {
    padding: 2em 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2em;
}

.footer-bottom .nav-links ul {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2.6em;
}

.footer-bottom .nav-links ul li a {
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
    font-weight: 500;
    font-size: small;
}

.footer-bottom .nav-links ul li a:hover {
    color: var(--accent);
    transition: 0.2s;
    scale: 1.2;
}

.footer-bottom .nav-links ul li a ion-icon {
    color: var(--accent);
}

.footer-bottom p {
    text-align: center;
    width: 60%;
    line-height: 2em;
    color: var(--dark-gray);
}

.footer-bottom .social-links {
    display: inline-flex;
    align-items: center;
    gap: 1.8em;
}

.footer-bottom .social-links ion-icon {
    font-size: x-large;
    cursor: pointer;
}

.footer-bottom .social-links ion-icon:hover {
    color: var(--accent);
    transition: 0.2s;
    scale: 1.2;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
    .footer-bottom p {
        width: 90%;
        text-align: justify;
    }
}