/* FullBlogPost.css */

/* Style for the blog container */
.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px; /* Increased padding for more space around the content */
}

/* Style for the featured image */
.blog-featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 0.6em;
    margin-bottom: 20px; /* Added margin to separate image from heading */
}

/* Style for the blog heading */
.blog-heading {
    font-size: 24px;
    margin: 20px 0;
}

/* Style for the main content */
.blog-main-content {
    font-size: 16px;
    line-height: 1.6;
}

/* Style for paragraphs within main content */
.blog-main-content p {
    margin: 15px 0; /* Increased margin for paragraphs */
    line-height: 1.6em;
}

/* Style for headings within main content */
.blog-main-content h1,
.blog-main-content h2,
.blog-main-content h3,
.blog-main-content h4,
.blog-main-content h5,
.blog-main-content h6 {
    margin: 20px 0; /* Increased margin for headings */
    font-weight: bold;
    line-height: 2em;
}

/* Style for images within main content */
.blog-main-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto; /* Increased margin for images */
    border-radius: 0.6em;
}

/* Style for links within main content */
.blog-main-content a {
    color: var(--accent);
    text-decoration: underline;
}

/* Style for unordered lists within main content */
.blog-main-content ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 15px 0; /* Increased margin for unordered lists */
}

/* Style for list items within main content */
.blog-main-content li {
    margin: 10px 0; /* Increased margin for list items */
}

/* Additional styles as needed */
