.grid-container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  overflow: hidden;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.grid-item {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
  padding: 1.6em;
}

.grid-item h1 {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 800;
  color: var(--secondary-color);
}

.grid-item p {
  font-size: medium;
  line-height: 1.8em;
  color: var(--dark-gray);
}

.grid-item .image {
  max-width: 100%;
}

/* Responsive Styles */

@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    padding-bottom: 2em;
  }

  .grid-item.text {
    align-items: center;
  }

  .grid-item h1 {
    font-size: 3rem;
  }
}