/* Define the fading animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Apply the fading animation to the grid container */
.grid-container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  overflow: hidden;
  align-items: center;
  min-height: calc(100vh - 100px);
  /* Add animation properties */
  animation: fade-in 2.5s ease;
}

.grid-item {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
  padding: 1.6em;
}

.grid-item.text h1 {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 800;
  color: var(--secondary-color);
}

.grid-item.text p {
  font-size: medium;
  line-height: 1.8em;
  color: var(--dark-gray);
}

.grid-item.text ul {
  list-style-type: unset;
  font-size: medium;
  line-height: 2em;
  color: var(--dark-gray);
}

.grid-item .image {
  max-width: 100%;
  border-radius: 0.4em;
}

/* Responsive Styles */

@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    padding-bottom: 2em;
  }

  .grid-item.text {
    align-items: center;
  }

  .grid-item.text h1 {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 620px) {
  .grid-item.text h1 {
    font-size: 2rem;
  }
}