header {
    position: sticky;
    top: 0;
    z-index: 1;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.logo img {
    width: 100px;
    height: auto;
}

.desktop-menu {
    display: inline-flex;
    align-items: center;
    gap: 2.4em;
}

.mobile-menu {
    display: flex;
    gap: 2em;
    order: 3;
    border-radius: 0.8em;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    align-items: center;
    flex-flow: column nowrap;
    background: var(--primary-color);
    padding-bottom: 2em;
    height: 100vh;
}

nav a {
    font-size: medium;
    padding: 0.4em 1.6em;
    line-height: 2em;
    border-radius: 4em;
    font-weight: 500;
    color: var(--secondary-color);
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
}

nav a.active {
    color: var(--primary-color);
    background-color: var(--accent);
    transition: 1s;
}

.toggle-menu {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 1000px) {
    .desktop-menu {
        gap: 1.6em;
    }

    nav a {
        font-size: small;
    }
}

@media screen and (max-width: 800px) {
    header {
        align-items: unset;
    }

    .desktop-menu {
        display: none;
    }

    nav a {
        font-size: medium;
    }

    .toggle-menu {
        display: inline-flex;
    }
}