/* Pagination.css */
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination-link {
  margin: 0 4px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.pagination-link.active {
  background-color: var(--accent);
  color: white;
  border: 1px solid var(--accent);
}

.pagination-link:hover:not(.active) {
  background-color: #ddd;
}