.text-image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  overflow: hidden;
}

.text-content {
  padding: 6em 1em 0 1em;
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
}

.text-content h1 {
  font-size: 4rem;
}

.text-content p {
  font-size: medium;
}

.image-content {}

.image {
  max-width: 100%;
}

/* Responsive Styles */

@media screen and (max-width: 800px) {
  .text-image-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}