/* Default styles for the two-column grid */
.two-column-grid-container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 1em;
  /* Add animation properties */
  animation: fade-in 2.5s ease;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .two-column-grid-container {
    grid-template-columns: 1fr;
  }

  .two-column-grid-item {
    padding: 1em;
  }
}