.website-development-cost-calculator {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    /* Adjust the transition duration as needed */
}

.website-development-cost-calculator.fade-out {
    opacity: 0;
    pointer-events: none;
    /* Disable interactions with the element while it's faded out */
}

.website-development-cost-calculator.fade-in {
    opacity: 1;
    pointer-events: auto;
    /* Re-enable interactions with the element after it's faded in */
}


.website-development-cost-calculator .inputs {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    min-height: 150px;
}

/* Styling Inputs */

.radio-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2.4em;
}

/* Hide the actual radio buttons */
.radio-container input[type="radio"] {
    display: none;
}

/* Style the labels to look like clickable elements */
.radio-container label {
    cursor: pointer;
    padding: 0.8em 1em;
    border: none;
    border-radius: 4em;
    background-color: rgba(33, 122, 255, 0.095);
    color: var(--accent);
    font-size: medium;
    transition: 0.8s;
}

.radio-container label:hover {
    background-color: rgb(49, 130, 255);
    color: var(--primary-color);
    transition: 0.8s;
}

/* Change the label appearance when the associated radio button is selected */
.radio-container input[type="radio"]:checked+label {
    background-color: rgb(49, 130, 255);
    color: var(--primary-color);
    transition: 0.8s;
    /* Example background color for when selected */
    /* Add any other styling for the selected state here */
}

/* Styling Action Button */

.actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/* Cost Summary  */
/* Styling for the render-cost-summary container */
.render-cost-summary {
    /* margin: 20px; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the cost-summary table */
.cost-summary-table {
    width: 100%;
    border-collapse: collapse;
}

/* Styling for the cost-summary table headers */
.cost-summary-table th {
    /* background-color: #f2f2f2; */
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

/* Styling for the cost-summary table data cells */
.cost-summary-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Styling for the total cost row */
.total-cost-row {
    background-color: #f2f2f2;
}

/* Responsive table styles */
@media screen and (max-width: 600px) {
    .cost-summary-table {
        border: 0;
    }

    .cost-summary-table thead {
        display: none;
    }

    .cost-summary-table tr {
        margin-bottom: 10px;
        display: block;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .cost-summary-table td {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
    }

    .cost-summary-table td::before {
        font-weight: bold;
    }

    .cost-summary-table td:last-child {
        border-bottom: none;
    }
}