@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #1F2937;
    --accent: #3182FF;
    ;
    --light-gray: #F5F5F5;
    --dark-gray: #1F2937A1;
}

/* Topography */
a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style-type: none;
}

/* Classes */

.no-scroll {
    overflow: hidden;
}

.button {
    outline: none;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #0F172A;
    padding: 0.4em 1em;
}

.button:hover {
    background-color: #334154;
    transition: 0.6s;
}

.active {
    color: #FFFFFF;
    background-color: #0F172A;
    transition: 0.6s;
}

.active:hover {
    background-color: #0F172A;
    transition: 0.6s;
}

@media screen and (max-width: 620px) {
    .button {
        font-size: medium;
    }
}