* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #151515;
    --accent: rgb(49, 130, 255);
    ;
    --light-gray: #F5F5F5;
    --dark-gray: #1F1F1F;
}

.primary-text-light-mode.active {
    color: var(--primary-color);
    background-color: var(--accent);
    transition: 1s;
}

.primary-text-dark-mode.active {
    color: var(--primary-color);
    background-color: var(--accent);
    transition: 1s;
}

/* Light Mode */
.primary-bg-light-mode {
    background-color: var(--primary-color);
    transition: 1s;
}

.secondary-bg-light-mode {
    background-color: var(--light-gray);
    transition: 1s;
}

.primary-text-light-mode {
    color: var(--secondary-color);
    transition: 1s;
}

.secondary-text-light-mode {
    color: var(--dark-gray);
    transition: 1s;
}

/* Dark Mode */
.primary-bg-dark-mode {
    background-color: var(--secondary-color);
    transition: 1s;
}

.secondary-bg-dark-mode {
    background-color: var(--dark-gray);
    transition: 1s;
}

.primary-text-dark-mode {
    color: var(--primary-color);
    transition: 1s;
}

.secondary-text-dark-mode {
    color: var(--light-gray);
    transition: 1s;
}

/* Classes */
.button {
    outline: none;
    border: none;
    width: max-content;
    padding: 1em 2em;
    border-radius: 4em;
    display: inline-flex;
    align-items: center;
    gap: 0.6em;
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--accent);
}