* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #151515;
    --accent: #407bff;
    --light-gray: #F5F5F5;
    --dark-gray: #1F1F1F;
}

.primary-text-light-mode.active {
    color: var(--primary-color);
    background-color: var(--accent);
    transition: 1s;
}

.primary-text-dark-mode.active {
    color: var(--primary-color);
    background-color: var(--accent);
    transition: 1s;
}

/* Light Mode */
.primary-bg-light-mode {
    background-color: var(--primary-color);
    transition: 1s;
}

.secondary-bg-light-mode {
    background-color: var(--light-gray);
    transition: 1s;
}

.primary-text-light-mode {
    color: var(--secondary-color);
    transition: 1s;
}

.secondary-text-light-mode {
    color: var(--dark-gray);
    transition: 1s;
}

/* Dark Mode */
.primary-bg-dark-mode {
    background-color: var(--secondary-color);
    transition: 1s;
}

.secondary-bg-dark-mode {
    background-color: var(--dark-gray);
    transition: 1s;
}

.primary-text-dark-mode {
    color: var(--primary-color);
    transition: 1s;
}

.secondary-text-dark-mode {
    color: var(--light-gray);
    transition: 1s;
}